:root {
    --tan: #AA8F66;            /* Ljusbrun/beige */
    --olive: #45462A;          /* Mörk olivgrön */
    --butterscotch: #ED9B40;   /* Gulbrun/butterscotch */
    --black-bean: #280003;     /* Mycket mörk rödbrun */
    --white: #FCFCFC;          /* Vit */
    --text-dark: var(--white);
    --text-light: var(--white);
    --background: #1b291e;     /* Mörkgrön bakgrund */
    --background-opaque: rgb(27, 41, 30, 0.4);     /* Mörkgrön bakgrund */
    --border-radius: 6px;
    --shadow: 0 2px 6px rgba(40, 0, 3, 0.08);
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  color: var(--text-dark);
  background-color: var(--background);
}

main {
  padding: 2rem;
}

nav {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-right: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0; 
  padding: 0;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--butterscotch);
}


nav a:hover {
  background-color: var(--olive);
}


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--background-opaque);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.hideOnMobile{
  display: none;
}

.contentContainer {
  display: block;
  box-sizing: border-box;
  background-color: #1b291e;
  color: #FCFCFC;
}


/* Se till att bildbehållaren tar exakt 100% av fönsterbredden */
.headerImage {
  background-image: url('/Bild/trail-5726987_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh; /* justera efter behov */
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.headerContent {
  padding: 1rem;
  background-color: var(--background-opaque);
  border-radius: var(--border-radius);
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--white);
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.3;
  margin: 0;
  border-bottom: 1px solid var(--tan);
  position: relative;
}


h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  color: var(--background);
  margin-left: 18px;
}

/* .subtitle {
  text-align: center;
  color: var(--white);
  margin-bottom: 2rem;
  font-size: 1.1rem;
} */




.infoBox {
  background-color: var(--olive);
  border-left: 4px solid var(--butterscotch);
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}




header {
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--tan);
  position: relative;
}


header::before {
/*   content: "GRUPP 6";
  position: absolute; */
  top: 0;
  right: 0;
  background-color: var(--black-bean);
  color: var(--white);
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 500;
}

footer {
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid var(--tan);
  color: var(--tan);
}
 
section {
  margin: 1rem 0;
  position: relative;
}

/* Stylish divider */
section::after {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--tan), transparent);
  margin: 3rem 0;
}

/* Remove divider from last section */
section:last-of-type::after {
  display: none;
}

/* A.N OTHER inspired minimalist look for paragraphs within sections */
section p {
  font-size: 0.95rem;
  line-height: 1.7;
  padding: 17px;
  color: var(--background);
}

.kartor {
  padding-top: 2.5rem;
  font-size: 8pt;
}

.js-plotly-plot {
  margin-top: -130px;
  margin-left: -70px;
}


.featureCard {
  scroll-margin-top: 50px;
}

.featureCard a {
  color: var(--olive);
}

/* div.user-select-none.svg-container {
  margin-top: -130px;
  padding-top: 0;

} */

#bygg {
  height: 500px;
}

.chartContainerInv {
  position: relative;
  max-width: 370px;
  height: 550px;
  padding: 1.5rem 0;
}

.chartContainer {
  position: relative;
  width: 100%;           /* Full bredd av förälderelementet */
  max-width: 370px;      /* Valfritt maxbredd */
  height: 300px;         /* Styr höjden på grafen */
  padding: 1.5rem 0;
}
.linkStyle {
  color:white;
  margin: 20px 0;
  padding-left: 17px; 
  display: block;
}

.linkStyle:hover {
  color: var(--tan);
}
.referensH2{
  color: var(--butterscotch);
}
.card {
  background-color: #979D80;
  border-radius: 5px;
  box-shadow: 0 px 8 px 0 rgba(0,0,0, 0.2);
  padding: 3px 17px;
}
/* Make charts responsive */
@media (min-width: 992px) {
  main {
    padding: 0 7rem;
  }

  .hideOnMobile{
    display: flex;
  }

  .hamburgerIcon {
    display: none;
  }

  .cardContent {
    display: flex;
    align-items: flex-end;
    gap: 5rem;
  }
  .chartContainer {
    max-width: 600px;
    height: 600px;
    
  }
  .chartContainerInv {
    height: 100%;
    
  }
.lodText{
  display: flex;
}

p .responsiveText{
  display: flex;
}

.card {
  background-color: #979D80;
  border-radius: 5px;
  box-shadow: 0 px 8 px 0 rgba(0,0,0, 0.2);
  padding: 3px 17px;
}
.infoBox {
  width: 33%;
}
}

